.background_wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: no-repeat fixed url('../public/images/background.jpg');
    background-size: cover;
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 200px;
    right: 0;
}

.wrapper {
    margin: auto auto auto 200px;
    display: flex;
    flex-basis: auto;
    flex-wrap: nowrap;
    min-width: 36rem; 
    padding: 5rem;
}

.container {
}