.background_wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: no-repeat fixed url('../public/images/background.jpg');
    background-size: cover;
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.wrapper {
    position: relative;
    margin: 5rem auto auto auto;
    display: flex;
    flex-basis: auto;
    flex-wrap: nowrap;
    min-width: 36rem;
    max-width: 1280px;
    padding: 5rem;
}

.container {
    flex: 1 1 auto;
    overflow: hidden;
}
