.sidebar_container {
    position: fixed;
    width: 200px;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #44617bee;
    color: white;
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-right: 5px solid var(--highlight-color);
}

.lang_switch_wrapper {
    display: flex;
    justify-content: center;
}

.lang_switch {
    margin-top: 1rem;
    display: inline-flex;
    border: 5px solid var(--highlight-color);
    flex-wrap: nowrap;
    flex-basis: auto;
    flex-shrink: 1;
}

.lang_switch_entry {
    cursor:pointer;
    padding: 1rem;
    font-size: 2rem;
}

.lang_switch_active {
    background-color: var(--highlight-color);
}

.profile {
    margin-top: 1rem;
    text-align: center;
}

.profile_image {
    position: relative;
    width: 144px;
    height: 144px;
    margin: auto;
    border: 5px solid var(--highlight-color);
}

.nav {
    margin-top: 5rem;
    width: 100%;
}

.nav li {
    position: relative;
    padding: 10px;
}

.nav li:hover {
    background-color: #1f3134;
}

.nav_active {
    background-color: #1f3134;
}