.window_wrapper {
    display: relative;
}

.window_container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-blackish-color);
}

.window_title {
    display: flex;
    border: 5px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: var(--highlight-foreground);
    flex: 0 0 5rem;
    align-items: center;
    padding: 0 1rem;
}

.window_title h2 {
    padding: 0;
    margin: 0;
}

.window_body {
    border: 5px solid var(--highlight-color);
    border-top: none;
    padding: 1rem;
}