.window_wrapper {
    margin-top: 1em;
    position: relative;
}

.window_container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-blackish-color);
}

.window_title {
    display: flex;
    border: var(--border-width-default) solid var(--highlight-color);
    flex: 0 0 1.5rem;
    align-items: stretch;
}

.window_title_text  {
    font-weight: bold;
    text-align: center;
    align-items: center;
    padding: 0.2rem 1rem;
    flex: 1 1;
}

.title_button_group {
    display: inline-flex;
    width: min-content;
}

.title_button {
    width: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: var(--highlight-color);
    cursor: pointer;
    user-select: none;
}

.title_button:hover {
    background-color: var(--highlight-color);
    color: black;
}

.title_button_group:first-child .title_button {
    border-right: var(--border-width-default) solid var(--highlight-color);
}

.title_button_group:last-child .title_button {
    border-left: var(--border-width-default) solid var(--highlight-color);
}

.window_body {
}

.window_body_expanded {
    border: var(--border-width-default) solid var(--highlight-color);
    border-top: none;
    padding: 1rem;
}

.window_body_folded {
    border: none;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.window_body_container {
    position: relative;
}

.termline {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #00ff00;
    font-weight: bold;
}

.termline:empty::before {
    content: "\200b";
}

@keyframes blink {
    0% {
        opacity: 0;
    }
}

.termline_cursor {
    content: " ";
    background-color: #00ff00;
    animation: blink 1s steps(2) infinite;
}