.about_wrapper {
    height: 50rem;
    overflow: hidden;
    position: relative;
}

.about_inner {
    position: absolute;
    min-height: 50rem;
    left: 0;
    right: 0;
    bottom: 0;
}

.inputline {
    color: #00ff00;
    font-weight: bold;
    white-space: pre-wrap;
    word-break: break-all;
}

@keyframes blink {
    0% {
        background-color: #00ff00;
        color: black;
    } 
    50% {
        background-color: unset;
        color: #00ff00;
    }
}

.inputline_cursor {
    animation: blink 1s steps(1) infinite;
}

.img_wrapper {
    display: flex;
    justify-content: center;
}

.term_section {
    white-space: pre-wrap;
    word-break: break-all;
}

.term_section:empty::before {
    content: "\200b";
}

.term_section_clickable {
    cursor: pointer;
}

.term_section_clickable:hover {
    color: black;
    background-color: #00ff00;
}