.postlist {
  position: relative;
}

.postlist_entry {
  position: relative;
}

.postlist_entry h2 {
  margin-top: 0;
}

.postlist_entry_container {
  margin-bottom: 10px;
  border: 5px dashed var(--border-color);
  padding: 10px;
}

.langspan {
  padding: 2px;
}