.showall_wrapper {
  display: inline-block;
  position: relative;
}

.showall {
  border: 5px solid var(--highlight-color);
  background-color: var(--background-blackish-color);
  display: inline-flex;
}

.showall div {
  padding: 0.5rem;
}
.showall_active {
  background-color: var(--highlight-color);
  color: var(--highlight-foreground);
}

.postlist {
  position: relative;
}

.postlist_entry {
  background-color: var(--background-blackish-color);
  position: relative;
  margin-bottom: 1.5rem;
}

.postlist_entry_container {
  border: 5px solid var(--highlight-color);
  display: flex;
  flex-basis: auto;
  flex-wrap: nowrap;
}

.postlist_entry_info {
  padding: 10px;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
}

.postlist_entry_info_date {
  flex: 1;
  text-align: left;
}

.postlist_entry_title {
}

.postlist_entry_title h2 {
  margin-top: 0;
  font-size: 1rem;
}

.postlist_entry_langs {
  display: flex;
  flex: 0 0 10rem;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
}

.postlist_entry_langs_button {
    aspect-ratio: 3 / 4;
    position: relative;
}
