.showall_wrapper {
  display: inline-block;
  position: relative;
}

.showall {
  border: 5px solid var(--highlight-color);
  background-color: var(--background-blackish-color);
  display: inline-flex;
}

.showall div {
  padding: 0.5rem;
}

.showall_active {
  background-color: var(--highlight-color);
  color: var(--highlight-foreground);
}

.postlist {
  position: relative;
}

.postlist_entry {
  background-color: var(--background-blackish-color);
  position: relative;
  margin-bottom: 1.5rem;
}

.postlist_entry_container {
  display: flex;
  flex-basis: auto;
  flex-wrap: nowrap;
}

.postlist_entry_title {
  border: 5px solid var(--highlight-color);
  border-right: none;
  padding: 10px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.postlist_entry_title h2 {
  margin-top: 0;
  font-size: 1rem;
}

.postlist_entry_info {
  padding: 10px;
  width: 10rem;
  background-color: var(--highlight-color);
  color: var(--highlight-foreground);
  flex-direction: column;
}

.postlist_entry_info_date {
  flex: 1;
  text-align: right;
}

.postlist_entry_info_langs {
  flex: 1;
  display: flex;
  justify-content: right;
}