.post {
    position: relative;
    background-color: var(--background-blackish-color);
}

.post_info_wrapper {
    position: relative;
}

.post_info {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: nowrap;
}

.post_info_title {
    flex: 1;
    border: 5px solid var(--highlight-color);
    border-right: none;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.post_info_title h1 {
    font-size: 2rem;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.post_info_date {
    text-align: center;
    width: 10rem;
    background-color: var(--highlight-color);
    color: var(--highlight-foreground);
    flex-direction: column;
    padding: 1rem;
}

.post_info_large {
    font-size: 5rem;
}

.post_lang {
    display: flex;
    padding: 1rem;
    border: var(--border-width-default) solid var(--highlight-color);
    border-top: none;
    border-bottom: none;
}

.post_lang_button {
    margin-left: 1rem;
}

.post_body{
    padding: 2rem;
    border: var(--border-width-default) solid var(--highlight-color);
    border-top: none;
}

.post_body_cn {
    text-align: justify;
}

.post_body_en {
    text-align: left;
}